@import "_nullstyle";

html,
body {
	font-family: "Roboto", sans-serif;
}
.wrapper {
}

//quiz

.quiz {
}
.container {
	max-width: 1152px;
	margin: 0 auto;
}
.quiz__body {
	display: flex;
	justify-content: space-between;
}
.aside {
	height: 100%;
	width: 210px;
	padding: 30px 20px;
	transition: all 0.3s ease 0s;
	position: fixed;
	&.passive{
		width: 30px;
	}
}
.aside__body {
}
.aside__menu {
	transition: all 0.3s ease 0s;
	&.passive{
		opacity: 0;
		visibility: hidden;
		transform: scale(0);
	}
}
.aside__hide {
	width: 40px;
	height: 90px;
	position: relative;
	top: 100px;
	left: 160px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	span {
		width: 4px;
		height: 86px;
		background-color: #58a193;
		display: block;
		border-radius: 2px;
		position: relative;
		top: 2px;
		left: 16px;
	}
	&.passive{
		left: 20px;
	}
}
.aside__title {
	transition: all 0.3s ease 0s;
	margin: 0 0 39px 39px;
	a {
		font-weight: bold;
		font-size: 24px;
		line-height: 21px;
		letter-spacing: 0.1px;
		color: #58a193;
	}
	&.passive{
		opacity: 0;
		visibility: hidden;
		transform: scale(0);
	}
}
.aside__list {
	li {
		position: relative;
		top: 0;
		left: 0;
		transition: all 0.3s ease 0s;
		margin-bottom: 20px;
		opacity: 0.5;
		&:first-child {
			background: url("../img/icons/test.svg") left no-repeat;
		}
		&:nth-child(2) {
			background: url("../img/icons/list.svg") left no-repeat;
		}
		&:last-child {
			background: url("../img/icons/company.svg") left no-repeat;
		}
		&:hover {
			left: 4px;
			opacity: 1;
		}
		&.chosen {
			opacity: 1;
		}
	}
}
.aside__link {
	font-weight: 500;
	line-height: 21px;
	letter-spacing: 0.1px;
	color: #58a193;
	padding-left: 39px;
}
.main {
	background: #f1faf6;
	padding: 30px 20px;
	margin-left: 210px;
	transition: all 0.3s ease 0s;
	&.passive{
		margin-left: 70px;
	}
}
.main__title {
}
.title {
	font-weight: bold;
	font-size: 42px;
	line-height: 49px;
	letter-spacing: 0.1px;
	color: #58a193;
	margin-bottom: 30px;
	@media (max-width:992px){
		font-size: 30px;
		line-height: 36px;
	}
}
.main__filter {
	margin-bottom: 30px;
}
.filter-button {
	font-weight: 500;
	line-height: 21px;
	letter-spacing: 0.1px;
	color: #ffffff;
	cursor: pointer;
	padding: 6px 15px;
	background: #58a193;
	border-radius: 20px;
	display: inline-block;
	margin-right: 15px;
	transition: all 0.3s ease 0s;
	&:hover{
		background: #09886f;
	}
	&.pressed {
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	}
}
.main__subtitle {
}
.subtitle {
	font-weight: 500;
	line-height: 21px;
	letter-spacing: 0.1px;
	color: #252525;
	margin-bottom: 12px;
}
.main__tests {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.main__card {
	flex: 0 0 318px;
	height: 192px;
	background: #ffffff;
	box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 20px 25px;
	position: relative;
	display: flex;
	flex-direction: column;
	&:nth-child(odd) {
		margin-right: 20px;
	}
	@media (max-width:1151px) {
		&:nth-child(odd) {
			margin: 10px 20px 10px 0;
		}
		margin: 10px 10px 10px 0;
	}
}
.card-image {
	position: absolute;
	top: 20px;
	right: 30px;
	img{
		max-height: 110px;
	}
}
.card-title {
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.1px;
	color: #58a193;
	max-width: 220px;
	flex: 1 1 auto;
}
.card-buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.learn-button {
	font-size: 14px;
	line-height: 21px;
	letter-spacing: 0.1px;
	color: #58a193;
	border: 1px solid #58a193;
	border-radius: 3px;
	padding: 5px 10px;
	transition: all 0.3s ease 0s;
	&:hover{
		background-color: #58a193;
		color: #ffffff;
	}
}
.test-button {
	background: #5790ad;
	border-radius: 3px;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: 0.1px;
	color: #ffffff;
	padding: 5px 10px;
	border: 1px solid #5790ad;
	transition: all 0.3s ease 0s;
	&:hover{
		background-color: transparent;
		color: #5790ad;
	}
}
.profile {
	flex: 0 0 246px;
	height: 100%;
	border: 1px solid red;
	transition: all 0.3s ease 0s;
	&.passive{
		flex: 0 0 70px;
	}
}
.profile__technical {
}
.profile__star {
}
.profile__quit {
}
.profile__image {
}
.profile__name {
}
.profile__position {
}
.profile__tests-done {
}
.profile__finished-tests {
}
.done-test {
}
.test-info {
}
.test-description {
}
.test-percentage {
}
.test-bar {
}
.test-button-container {
}
.test-button {
}
